<label for="cars">Choose the toppings:</label>


{% if selected_pizza %}
    <ul>
    {% for topping in selected_pizza %}
        <li><a href="{% url 'detail' selected_pizza.pizza_name %}">{{ selected_pizza }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No pizzas are available.</p>
{% endif %}

<select name="cars" id="cars" multiple>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>